<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản Lí Kho Rượu</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/ckeditor")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Kho Rượu", "Index", "KhoRuous", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Xuất Khẩu", "Index", "XuatKhaus")</li>
                    <li>@Html.ActionLink("Nhập Khẩu", "Index", "NhapKhaus")</li>
                    <li>@Html.ActionLink("Góp Ý", "Index", "DanhGias")</li>
                  @* <li>@Html.ActionLink("Đăng Kí Tài Khoản", "Register", "Account")</li>*@
                    <li>@Html.ActionLink("Đăng Nhập", "Login", "Account")</li>
                    <li>@Html.ActionLink("Đăng Xuất", "SignOut", "Account")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="color: red "> Hỗ Trợ : 0345236493 - hoangtrungthong0000@gmail.com</p>
            <p style="color: red">&copy; @DateTime.Now.Year - Copyright by Trung Thông</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
