@model BTLPMQL.Models.XuatKhau

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color: blueviolet">Chi Tiết Đơn Xuất </h2>
<hr />
<div>
   
    <dl class="dl-horizontal">
        <dt>
            Tên Rượu :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenRuou)
        </dd>

        <dt>
            Nồng Độ :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NongDo)
        </dd>

        <dt>
            Tính Chất :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhChat)
        </dd>

        <dt>
            Số Lượng :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            Đơn Vị :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonVi)
        </dd>

        <dt>
            Thể Tích :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheTich)
        </dd>

        <dt>
            Nguồn Gốc :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguonGoc)
        </dd>

        <dt>
            Người Xuất :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiXuat)
        </dd>

        <dt>
            Người Nhập :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiNhap)
        </dd>

        <dt>
            Ghi Chú :
        </dt>

        <dd>
            @Html.Raw(Model.Note)
        </dd>

    </dl>
</div>
<p>
  
    @Html.ActionLink("Quay Lại", "Index")
</p>
