@model BTLPMQL.Models.KhoRuou

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color: blueviolet">Chi Tiết Rượu </h2>
<hr />
<div>
    
    <dl class="dl-horizontal" style="border: 1px solid #808080 ; width: 50%">
        <dt>
            Tên Rượu :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenRuou)
        </dd>

        <dt>
            Nồng Độ :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NongDo)
        </dd>

        <dt>
            Tính Chất :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhChat)
        </dd>

        <dt>
           Số Lượng :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
           Đơn Vị :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonVi)
        </dd>

        <dt>
            Thể Tích
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheTich)
        </dd>

        <dt>
           Nguồn Gốc :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguonGoc)
        </dd>

        <dt>
            Đánh Giá :
        </dt>

        <dd>
            @Html.Raw(Model.DanhGia)
        </dd>

    </dl>
</div>
<p>
   
    @Html.ActionLink("Quay Lại", "Index")
</p>
